body {
    color:#000000;
    background-color:#00ff99;
    margin:4px;
    margin-top:0px;
}

p {
    color: #001100
}

a {
    color: #00ff00
}

.name {
    font-size: 22px
}

.other {
    font-size: 12px
}
