body {
    color:#000000;
    background-color:#00ff99;
    margin:4px;
    margin-top:0px;
}

p {
    color:#00ff00;
}

a {
    font-size:120%;
}

.name {
    font-size:140%;
}

.other {
    font-size:100%;
}
